@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;

}


body {
    width: 330px;
}

.add {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
}

.add:focus {
    background-color: red;
}

.clear {
    background-color: transparent;
    border: none;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #00000083;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #000;
}

.content {
    margin-bottom: 10px;
}

.note {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.note:hover {
    border: 2px solid #000;
}

.show-content {
    font-size: 16px;
}

.remove-icon {
    color: red;
    cursor: pointer;
}